<%- include('./layouts/header') %>
<link rel="stylesheet" href="/css/userReviews.css">
</head>
<body>
    <%- include('./layouts/navbar') %>
    <h1 class="title">Reviews</h1>
    <main>
        <% reviews.forEach(review => { %>
            <% if (String(review.user._id) === String(userId)) { %>
                <article aria-label="review by <%= review.user.name %>" class="review-container">
                    <div class="user-detail">
                        <img src="<%= review.user.profile %>" alt="" aria-hidden="true">
                        <div>
                            <p>You</p>
                            <p><%= review.user.email %>, <%= review.user.contactNumber %></p>
                        </div>
                        <button class="delete-btn" title="delete review" onclick="deleteReview('<%= review._id %>')"><i class='bx bx-trash'></i></button>
                    </div>
                    <div class="review">
                        <p><%= review.review %></p>
                    </div>
                    <small class="date">
                        <% 
                        const dateString = review.createdAt instanceof Date ? review.createdAt.toString() : review.createdAt; 
                        const dateParts = dateString.split(" "); 
                        %>
                        <span><%= dateParts[0] %></span>, <span><%= dateParts[1] %></span> <span><%= dateParts[2] %></span>, <span><%= dateParts[3] %></span>, <span><%= dateParts[4] %></span>
                    </small>
                </article>
            <% }else{ %>
                <article aria-label="review by <%= review.user.name %>" class="review-container">
                    <div class="user-detail">
                        <img src="<%= review.user.profile %>" alt="" aria-hidden="true">
                        <div>
                            <p><%= review.user.name %></p>
                            <p><%= review.user.email %>, <%= review.user.contactNumber %></p>
                        </div>
                    </div>
                    <div class="review">
                        <p><%= review.review %></p>
                    </div>
                    <small class="date">
                        <% 
                        const dateString = review.createdAt instanceof Date ? review.createdAt.toString() : review.createdAt; 
                        const dateParts = dateString.split(" "); 
                        %>
                        <span><%= dateParts[0] %></span>, <span><%= dateParts[1] %></span> <span><%= dateParts[2] %></span>, <span><%= dateParts[3] %></span>, <span><%= dateParts[4] %></span>
                    </small>
                </article>
            <% } %>
        <% }) %>
        <button class="add-btn" title="leave a review">+</button>
    </main>
    <dialog class="model-container">
        <form action="/user/reviews" method="post" id="review-form">
            <h2>Leave a Review</h2>
            <textarea name="review" id="review" required></textarea>
            <div class="btns">
                <button id="cancel-btn" type="button">Cancel</button>
                <input type="submit" value="Post">
            </div>
        </form>
    </dialog>
    <%- include('./layouts/footer')  %>
    <script src="/js/userReview.js"></script>
</body>